In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits,on='title')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
# genre
# id
# title
# keywords
# overview
# cast
# crew

movies = movies[['movie_id','title','overview','keywords','genres','cast','crew']]

In [7]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
keywords    0
genres      0
cast        0
crew        0
dtype: int64

In [8]:
movies.dropna(inplace=True)

In [9]:
movies.duplicated().sum()

0

In [10]:
movies.drop_duplicates(inplace=True)

In [11]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#convert the list of dictionaries to a list

In [13]:
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        i['name']
        L.append(i['name'])
    return L

In [14]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [15]:
movies.head()

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
movies['cast']

0       [{"cast_id": 242, "character": "Jake Sully", "...
1       [{"cast_id": 4, "character": "Captain Jack Spa...
2       [{"cast_id": 1, "character": "James Bond", "cr...
3       [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4       [{"cast_id": 5, "character": "John Carter", "c...
                              ...
4804    [{"cast_id": 1, "character": "El Mariachi", "c...
4805    [{"cast_id": 1, "character": "Buzzy", "credit_...
4806    [{"cast_id": 8, "character": "Oliver O\u2019To...
4807    [{"cast_id": 3, "character": "Sam", "credit_id...
4808    [{"cast_id": 3, "character": "Herself", "credi...
Name: cast, Length: 4806, dtype: object

In [17]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter!= 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [18]:
movies['cast'] = movies['cast'].apply(convert3)

In [19]:
movies.head()

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L
movies['crew']= movies['crew'].apply(fetch_director)

In [21]:
movies['overview'][0]
movies['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [22]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [23]:
#movies['crew']
movies.head()

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [24]:
movies['tags'] = movies['overview'] = movies['keywords'] + movies['genres'] + movies['cast'] + movies['crew']
movies.head()

,movie_id,title,overview,keywords,genres,cast,crew,tags
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[ocean, drugabuse, exoticisland, eastindiatrad..."
2,206647,Spectre,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,49026,The Dark Knight Rises,"[dccomics, crimefighter, terrorist, secretiden...","[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[dccomics, crimefighter, terrorist, secretiden..."
4,49529,John Carter,"[basedonnovel, mars, medallion, spacetravel, p...","[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[basedonnovel, mars, medallion, spacetravel, p..."

In [25]:
new_df = movies[[ 'movie_id' , 'title' , 'tags' ]]
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\shrey\AppData\Local\Temp\ipykernel_28264\1736091042.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [26]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,cultureclash future spacewar spacecolony socie...
1,285,Pirates of the Caribbean: At World's End,ocean drugabuse exoticisland eastindiatradingc...
2,206647,Spectre,spy basedonnovel secretagent sequel mi6 britis...
3,49026,The Dark Knight Rises,dccomics crimefighter terrorist secretidentity...
4,49529,John Carter,basedonnovel mars medallion spacetravel prince...

In [27]:
new_df['tags'][0]

'cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d Action Adventure Fantasy ScienceFiction SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [28]:
new_df['tags'].apply(lambda x:x.lower())

0       cultureclash future spacewar spacecolony socie...
1       ocean drugabuse exoticisland eastindiatradingc...
2       spy basedonnovel secretagent sequel mi6 britis...
3       dccomics crimefighter terrorist secretidentity...
4       basedonnovel mars medallion spacetravel prince...
                              ...
4804    unitedstates–mexicobarrier legs arms paperknif...
4805    comedy romance edwardburns kerrybishé marshadi...
4806    date loveatfirstsight narration investigation ...
4807        danielhenney elizacoupe billpaxton danielhsia
4808    obsession camcorder crush dreamgirl documentar...
Name: tags, Length: 4806, dtype: object

In [29]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,cultureclash future spacewar spacecolony socie...
1,285,Pirates of the Caribbean: At World's End,ocean drugabuse exoticisland eastindiatradingc...
2,206647,Spectre,spy basedonnovel secretagent sequel mi6 britis...
3,49026,The Dark Knight Rises,dccomics crimefighter terrorist secretidentity...
4,49529,John Carter,basedonnovel mars medallion spacetravel prince...

In [30]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [31]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()

In [33]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\shrey\AppData\Local\Temp\ipykernel_28264\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [34]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [35]:
cv.get_feature_names()

C:\Users\shrey\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['16thcentury',
 '17thcentury',
 '18thcentury',
 '1910s',
 '1930s',
 '1940s',
 '1950s',
 '1960s',
 '1970s',
 '1980s',
 '1990s',
 '19thcentury',
 '21stcentury',
 '3d',
 'aaroneckhart',
 'aarontaylor',
 'abbiecornish',
 'abhishekbachchan',
 'abigailbreslin',
 'aborigine',
 'abrams',
 'absurdism',
 'abuse',
 'abusivehusband',
 'accident',
 'action',
 'actionhero',
 'activist',
 'actor',
 'actress',
 'adambeach',
 'adambrody',
 'adamcarolla',
 'adamdriver',
 'adamgarcia',
 'adamgoldberg',
 'adammckay',
 'adamrifkin',
 'adamsandler',
 'adamscott',
 'adamshankman',
 'adaptation',
 'addiction',
 'adolescence',
 'adolfhitler',
 'adoptedchild',
 'adoption',
 'adoptivefather',
 'adrianlyne',
 'adrienbrody',
 'adriennebarbeau',
 'adultanimation',
 'adultery',
 'advancement',
 'adventure',
 'adversary',
 'advertisingexecutive',
 'advertisingexpert',
 'advice',
 'affair',
 'affection',
 'afghanistan',
 'africa',
 'africanamerican',
 'aftercreditsstinger',
 'afterlife',
 'agedifference',
 'agent',
 'aggressionbyanimal',
 'aging',
 'aidanquinn',
 'aids',
 'aimeegarcia',
 'airforce',
 'airplane',
 'airplanecrash',
 'airport',
 'akshaykumar',
 'alanalda',
 'alanarkin',
 'alanparker',
 'alanrickman',
 'alantudyk',
 'alaska',
 'albertbrooks',
 'albertfinney',
 'alberthughes',
 'alcatraz',
 'alcohol',
 'alcoholabuse',
 'alcoholic',
 'alcoholism',
 'alecbaldwin',
 'alecguinness',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 'alessandronivola',
 'alexanderpayne',
 'alexanderskarsgård',
 'alexandradaddario',
 'alexandreaja',
 'alexapenavega',
 'alexisbledel',
 'alexkendrick',
 'alexpettyfer',
 'alexproyas',
 'alfonsocuarón',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'alicebraga',
 'aliceeve',
 'aliciasilverstone',
 'aliciavikander',
 'aliciawitt',
 'alien',
 'alienabduction',
 'alienation',
 'alienattack',
 'aliencontact',
 'alieninfection',
 'alieninvasion',
 'alienlife',
 'alienphenomenons',
 'alienplanet',
 'alilarter',
 'alisonlohman',
 'alligator',
 'alpacino',
 'alps',
 'alterego',
 'alternatedimension',
 'alternatehistory',
 'alternatereality',
 'alternativereality',
 'alysonhannigan',
 'alzheimer',
 'amandabynes',
 'amandapeet',
 'amandaseyfried',
 'amazon',
 'ambassador',
 'amberheard',
 'ambertamblyn',
 'ambition',
 'ambulance',
 'ambush',
 'americaferrera',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanflag',
 'americanfootball',
 'americanfootballplayer',
 'amnesia',
 'amsterdam',
 'amusementpark',
 'amyadams',
 'amyheckerling',
 'amypoehler',
 'amyryan',
 'amysmart',
 'anaclaudiatalancón',
 'anandtucker',
 'anarchiccomedy',
 'ancientchina',
 'ancientegypt',
 'ancientgreece',
 'ancientrome',
 'ancientworld',
 'anderson',
 'andiemacdowell',
 'andrebraugher',
 'andrewadamson',
 'andrewbujalski',
 'andrewdavis',
 'andrewfleming',
 'andrewgarfield',
 'andrewniccol',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andyfickman',
 'andygarcía',
 'andylau',
 'andysamberg',
 'andyserkis',
 'andytennant',
 'angel',
 'angelabassett',
 'angelinajolie',
 'anger',
 'anglee',
 'animal',
 'animalattack',
 'animalhorror',
 'animallead',
 'animalprotection',
 'animalsidekick',
 'animation',
 'anime',
 'anjelicahuston',
 'annabellasciorra',
 'annafaris',
 'annafriel',
 'annakendrick',
 'annapaquin',
 'annasophiarobb',
 'annearcher',
 'annebancroft',
 'annefletcher',
 'annehathaway',
 'anneheche',
 'annemoss',
 'annettebening',
 'anonymity',
 'anonymousletter',
 'anotherdimension',
 'ant',
 'antarctic',
 'antarctica',
 'anthology',
 'anthonyanderson',
 'anthonyhopkins',
 'anthonymackie',
 'anthonyminghella',
 'anthonyquinn',
 'anthonyrusso',
 'anthropomorphism',
 'anti',
 'antihero',
 'antisemitism',
 'antiterror',
 'antoinefuqua',
 'antoncorbijn',
 'antoniobanderas',
 'antonyelchin',
 'apartheid',
 'apartment',
 'ape',
 'apocalypse',
 'apocalyptic',
 'apostle',
 'apprentice',
 'aquarium',
 'arab',
 'arbitrarylaw',
 'archaeologist',
 'archeology',
 'archer',
 'archery',
 'architect',
 'arctic',
 'arcy',
 'area51',
 'arena',
 'argument',
 'aristocrat',
 'arizona',
 'armandassante',
 'armiehammer',
 'arminmueller',
 'armoredcar',
 'armsdeal',
 'armsdealer',
 'army',
 'arnoldschwarzenegger',
 'arrangedmarriage',
 'arrest',
 'arrogance',
 'arson',
 'art',
 'artgallery',
 'arthouse',
 'artifact',
 'artificialinsemination',
 'artificialintelligence',
 'artist',
 'arttheft',
 'artthief',
 'asabutterfield',
 'ashleyjudd',
 'ashleytisdale',
 'ashtonkutcher',
 'asia',
 'aspiringsinger',
 'assassin',
 'assassination',
 'assassinationattempt',
 'assault',
 'assaultrifle',
 'assignment',
 'assistant',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlete',
 'atlanticocean',
 'atomegoyan',
 'atomicbomb',
 'attack',
 'attemptedmurder',
 'attemptedrape',
 'attempttoescape',
 'attic',
 'auction',
 'audiotape',
 'audition',
 'audreyhepburn',
 'audreytautou',
 'aunt',
 'auntniecerelationship',
 'australia',
 'australianoutback',
 'austria',
 'author',
 'autism',
 'auto',
 'automobileracing',
 'autoritianeducation',
 'awkwardness',
 'ax',
 'baby',
 'babysitter',
 'bachelor',
 'backpacker',
 'badboss',
 'badluck',
 'badmother',
 'bagoverhead',
 'bahamas',
 'ball',
 'ballet',
 'balloon',
 'baltasarkormákur',
 'baltimoremaryland',
 'bammargera',
 'band',
 'bangkok',
 'bank',
 'banker',
 'banking',
 'bankrobber',
 'bankrobbery',
 'bar',
 'barbarahershey',
 'barbarian',
 'barbrastreisand',
 'barcelonaspain',
 'barfight',
 'barn',
 'barrylevinson',
 'barrypepper',
 'barrysonnenfeld',
 'barsandrestaurants',
 'baseball',
 'baseballbat',
 'basedonarticle',
 'basedoncartoon',
 'basedonchildren',
 'basedoncomicbook',
 'basedoncomicstrip',
 'basedonfairytale',
 'basedonfilm',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonshortstory',
 'basedonstagemusical',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basement',
 'basketball',
 'bat',
 'bathroomhumor',
 'bathtub',
 'batman',
 'battle',
 'battleassignment',
 'battlefield',
 'battleforpower',
 'bazluhrmann',
 'bdsm',
 'beach',
 'beachhouse',
 'bear',
 'beard',
 'beast',
 'beating',
 'beautifulwoman',
 'beauty',
 'beautycontest',
 'becominganadult',
 'bedroom',
 'beer',
 'beguilement',
 'beheading',
 'belgium',
 'benaffleck',
 'benbarnes',
 'benchaplin',
 'benedictcumberbatch',
 'benfoster',
 'bengazzara',
 'beniciodeltoro',
 'benitomussolini',
 'benjaminbratt',
 'benkingsley',
 'bennofürmann',
 'benstiller',
 'benwhishaw',
 'berlin',
 'berniemac',
 'bestfriend',
 'bestfriendsinlove',
 'bet',
 'betrayal',
 'bettemidler',
 'bettythomas',
 'beverlyhills',
 'beyoncéknowles',
 'bias',
 'bible',
 'bigfamily',
 'biker',
 'bikini',
 'billard',
 'billbellamy',
 'billcondon',
 'billewoodruff',
 'billhader',
 'billionaire',
 'billmoseley',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyburke',
 'billyconnolly',
 'billycrudup',
 'billycrystal',
 'billythekid',
 'billywilder',
 'billyzane',
 'binoculars',
 'biography',
 'biologicalweapon',
 'biology',
 'bird',
 'birth',
 'birthday',
 'bisexual',
 'bisexuality',
 'bite',
 'bittersweet',
 'blackandwhite',
 'blackhole',
 'blackhumor',
 'blackmagic',
 'blackmail',
 'blackmen',
 'blackout',
 'blackpeople',
 'blacksmith',
 'blade',
 'blakelively',
 'blast',
 'blaxploitation',
 'blind',
 'blinddate',
 'blindness',
 'blindnessandimpairedvision',
 'blizzard',
 'blog',
 'blonde',
 'blood',
 'bloodsplatter',
 'blowjob',
 'blues',
 'boardingschool',
 'boat',
 'boatchase',
 'boazyakin',
 'bobbyfarrelly',
 'bobclark',
 'bobgunton',
 'bobhoskins',
 'bobodenkirk',
 'body',
 'bodyexchange',
 'bodyguard',
 'bodyhorror',
 'bokeemwoodbine',
 'bollywood',
 'bomb',
 'bomber',
 'bombing',
 'bondage',
 'bongjoon',
 'bonniehunt',
 'boobytrap',
 'book',
 'bookstore',
 'boredom',
 'boss',
 'boston',
 'botanist',
 'bounty',
 'bountyhunter',
 'bourgeoisie',
 'bowandarrow',
 'bowling',
 'boxer',
 'boxing',
 'boxingmatch',
 'boy',
 'boyfriend',
 'boyfriendex',
 'boyfriendgirlfriendrelationship',
 'boygenius',
 'boys',
 'bradanderson',
 'bradbird',
 'braddourif',
 'bradfurman',
 'bradleycooper',
 'bradpeyton',
 'bradpitt',
 'bradsilberling',
 'bradycorbet',
 'brain',
 'braintumor',
 'brainwashing',
 'brandont',
 'bravery',
 'brawl',
 'brazil',
 'brazilian',
 'break',
 'breakdance',
 'breakingthefourthwall',
 'breast',
 'breckeisner',
 'breckinmeyer',
 'brendanfraser',
 'brendangleeson',
 'brentonthwaites',
 'brentspiner',
 'brettratner',
 'briancox',
 'briandennehy',
 'briandepalma',
 'brianhelgeland',
 'brianlevant',
 'brianrobbins',
 'briantaylor',
 'briantrenchard',
 'bride',
 'bridegroom',
 'bridesmaid',
 'bridge',
 'bridgetfonda',
 'brielarson',
 'brien',
 'britain',
 'british',
 'britisharmy',
 'britishempire',
 'britishsecretservice',
 'britmarling',
 'brittanymurphy',
 'brittanysnow',
 'brittrobertson',
 'broadway',
 'brokenengagement',
 'brokenneck',
 'broker',
 'bronx',
 'brookeshields',
 'brooklynnewyorkcity',
 'brooks',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothersisterrelationship',
 'bruceberesford',
 'brucecampbell',
 'brucedern',
 'brucegreenwood',
 'brucewillis',
 'brutality',
 'bryancranston',
 'bryansinger',
 'brycedallashoward',
 'budapest',
 'buddhism',
 'buddhistmonk',
 'buddycomedy',
 'buddycop',
 'bulletwound',
 'bully',
 'bullying',
 'bunker',
 'bunny',
 'bureaucracy',
 'burglar',
 'buriedalive',
 'burnedalive',
 'burrsteers',
 'burtlancaster',
 'burtreynolds',
 'bus',
 'bush',
 'business',
 'businessman',
 'businessstart',
 'busride',
 'butler',
 'bythewood',
 'cabin',
 'cabininthewoods',
 'cage',
 'cairo',
 'california',
 'callgirl',
 'cambodia',
 'camcorder',
 'cameronbright',
 'cameroncrowe',
 'camerondiaz',
 'camgigandet',
 'camillabelle',
 'camp',
 'campaign',
 'campbellscott',
 'camping',
 'campus',
 'canada',
 'cancer',
 'candlelightvigil',
 'candy',
 'cannabis',
 'cannibal',
 'cannibalism',
 'canoe',
 'canuxploitation',
 'caper',
 'capitalism',
 'captain',
 'captive',
 'capture',
 'car',
 'caraccident',
 'carbomb',
 'carchase',
 'carcrash',
 'cardealer',
 'cardgame',
 'career',
 'careerwoman',
 'caretaker',
 'carexplosion',
 'careymulligan',
 'cargoship',
 'caribbean',
 'caricevanhouten',
 'carjourney',
 'carlagugino',
 'carlfranklin',
 'carlossaldanha',
 'carlyschroeder',
 'carmenejogo',
 'carnival',
 'carpet',
 'carrace',
 'carrie',
 'carriefisher',
 'carsetonfire',
 'cartoon',
 'caruso',
 'caryelwes',
 'caseyaffleck',
 'casino',
 'castle',
 'castration',
 'cat',
 'cataclysm',
 'catandmouse',
 'catastrophe',
 'cateblanchett',
 'catherinedeneuve',
 'catherinehardwicke',
 'catherinekeener',
 'catherinemccormack',
 'catherineo',
 'catherinezeta',
 'catholic',
 'catholicchurch',
 'catholicism',
 'catholicpriest',
 'cattledrive',
 'cavalry',
 'cave',
 'cavemen',
 'cedrictheentertainer',
 'celebration',
 'celebrity',
 'cello',
 'cellphone',
 'cemetery',
 'centralandsouthamerica',
 'centralpark',
 'ceremony',
 'cgi',
 'chadmichaelmurray',
 'chainsaw',
 'championship',
 'chance',
 'chandor',
 'change',
 'changingthepastorfuture',
 'channingtatum',
 'chaos',
 'charity',
 'charlesdance',
 'charlesferguson',
 'charlesherman',
 'charlesmartinsmith',
 'charless',
 'charliecox',
 'charlieday',
 'charliehunnam',
 'charliesheen',
 'charlietahan',
 'charlizetheron',
 'charlotterampling',
 'charltonheston',
 'chase',
 'chasesandraces',
 'chauffeur',
 'chazzpalminteri',
 'cheating',
 'cheatingwife',
 'cheerleader',
 'chef',
 'chemical',
 'cher',
 'chevychase',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabuse',
 'childhero',
 'childhoodfriends',
 'childhoodmemory',
 'childhoodtrauma',
 'childlabour',
 'childmurderer',
 'childprodigy',
 'children',
 'chimcbride',
 'chimp',
 'chimpanzee',
 'china',
 'chinatown',
 'chipmunk',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigny',
 'chocolate',
 'choimin',
 'choir',
 'cholo',
 'chosenone',
 'chowyun',
 'chriscolumbus',
 'chriscooper',
 'chrisevans',
 'chrishemsworth',
 'chriskattan',
 'chrisklein',
 'chrismiller',
 'chrisnoth',
 'chriso',
 'chrispine',
 'chrispratt',
 'chrisrock',
 'chrissanders',
 'christ',
 'christian',
 'christianbale',
 'christianclavier',
 'christianfilm',
 'christianity',
 'christianslater',
 'christinaapplegate',
 'christinaricci',
 'christmas',
 'christmascarol',
 'christmaseve',
 'christmasparty',
 'christmastree',
 'christophereccleston',
 'christopherguest',
 'christopherlambert',
 'christopherlloyd',
 'christophermcdonald',
 'christophermcquarrie',
 'christophermintz',
 'christophernolan',
 'christopherplummer',
 'christopherreeve',
 'christopherwalken',
 'christophwaltz',
 'christucker',
 'chriswedge',
 'chrisweitz',
 'chu',
 'chuckrussell',
 'church',
 'churchchoir',
 'churchservice',
 'cia',
 'ciaagent',
 'ciaránhinds',
 'cigarettesmoking',
 'cigarsmoking',
 'cillianmurphy',
 'cinderella',
 'cinema',
 'circus',
 'city',
 'cityruin',
 'civilrights',
 'civilwar',
 'clairedanes',
 'claireforlani',
 'clancybrown',
 'clarkgable',
 'class',
 'classdifferences',
 'classicalmusic',
 'classprejudice',
 'classroom',
 'classsociety',
 'claudevandamme',
 'claustrophobia',
 'cleaduvall',
 'clerk',
 'cliffcurtis',
 'climate',
 'climatechange',
 'climbing',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clocktower',
 'clone',
 'cloning',
 'clown',
 'clowning',
 'clumsyfellow',
 'coach',
 'coalmining',
 'coastguard',
 'cocaine',
 'cockneyaccent',
 'cockroach',
 'code',
 'coffin',
 'cohabitant',
 'cohen',
 'coldwar',
 'colehauser',
 'colinfarrell',
 'colinfirth',
 'collector',
 'college',
 'collegestudent',
 'colmfeore',
 'colmmeaney',
 'colombia',
 'colonel',
 'colonialism',
 'colony',
 'colorado',
 'coma',
 'combat',
 'comeback',
 'comedian',
 'comedy',
 'comet',
 'comicbook',
 'comingofage',
 'comingout',
 'commando',
 'commercial',
 'commune',
 'communism',
 'community',
 'company',
 'compass',
 'competition',
 'composer',
 'compulsivegambling',
 'computer',
 'computerhacker',
 'computerprogram',
 'computervirus',
 'conartist',
 'concentrationcamp',
 'concert',
 'conciliation',
 'condom',
 'confederatesoldier',
 'confession',
 'confidence',
 'congress',
 'conman',
 'connell',
 'connienielsen',
 'connor',
 'conradvernon',
 'conspiracy',
 'conspiracyofmurder',
 'conspiracytheory',
 'contest',
 'contractkiller',
 'control',
 'conveniencestore',
 'convertible',
 'convict',
 'convoy',
 'cook',
 'cooking',
 'cop',
 'cops',
 'corbinbernsen',
 'coreyfeldman',
 'coronation',
 'corporation',
 'corpse',
 'corruptcop',
 'corruption',
 'cosmatos',
 'costasmandylor',
 'costume',
 'countdown',
 'countryhouse',
 'countrylife',
 'countrymusic',
 'countryside',
 'coupd',
 'courage',
 'court',
 'courtcase',
 'courteneycox',
 'courthouse',
 'courtroom',
 'cover',
 'coveredinvestigation',
 'cow',
 'cowardice',
 'cowardliness',
 'cowboy',
 'crab',
 'craigbierko',
 'craiggillespie',
 'craigt',
 'crash',
 'creature',
 'crime',
 'crimefamily',
 'crimefighter',
 'criminal',
 'criminalmastermind',
 'crisis',
 'crispinglover',
 'crocodile',
 'crookedlawyer',
 'cross',
 'crossdressing',
 'crucifix',
 'crucifixion',
 'cruelty',
 'cruise',
 'crusade',
 'crush',
 'crying',
 'cryogenics',
 'cuba',
 'cubagoodingjr',
 ...]

In [36]:
new_df['tags'][0]

'cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d action adventur fantasi sciencefict samworthington zoesaldana sigourneyweav jamescameron'

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity = cosine_similarity(vectors)

In [39]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(47, 0.3849001794597506),
 (2378, 0.34426518632954817),
 (61, 0.3333333333333334),
 (83, 0.3142696805273545),
 (2409, 0.30123203803835463)]

In [40]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [41]:
recommend('Avatar')

Star Trek Into Darkness
Megaforce
Jupiter Ascending
The Lovers
Aliens

In [42]:
import pickle

In [45]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [47]:
pickle.dump(similarity,open('similarity.pkl','wb'))